<div class="d-flex justify-content-between align-items-center gap-2">
  <%= image_tag 'svg/chat/arrow_left', width: '24px' %>

  <%= render User::AvatarComponent.new(chat.provider, classes: 'avatar-title-chat') %>
  <div class="ms-2 lh-sm">
    <span class="fw-bold h5 receiver-name"><%= chat.provider.business_name %></span>
    <div>
      <i class="fa-solid fa-circle circle-availability"></i>
      <small data-chat-subscription-target="providerStatus" class="text-secondary">
        Desconectado
      </small>
    </div>
  </div>

  <div class="d-flex align-items-center gap-3">
    <div>
      <%= link_to '#', class: "btn-quote text-decoration-none d-flex align-items-center gap-2",
          data: { action: "turbo:click->chat-subscription#toggleQuotations" } do |l| %>
        <%= image_tag 'svg/chat/clipboard_text.svg', width: "22px", class: "d-inline" %>
        <span class="fw-bold d-none d-sm-block">Cotizaciones</span>
        <i class="fa-solid fa-chevron-right ms-1"></i>
      <% end %>
    </div>

    <div class="d-sm-none">
      <%= image_tag 'svg/chat/vertically_points', width: '24px' %>
    </div>
  </div>
</div>
