<div class="container-messages-column me-3">
  <div class="d-none d-flex align-items-center gap-3 mb-4 mt-1 d-lg-inline-flex">
    <%= render User::AvatarComponent.new(current_user, classes: 'avatar-message border-avatar') %>
    <span><%= fullname(@chat.client) %></span>
  </div>

  <div class="d-flex align-items-center gap-2 mb-1">
    <h3 class="fw-bold">Mensajes</h3>
    <span class="amount-messages fs-6 fw-light rounded px-2" data-search-message-target="counter"><%= @chats&.size %></span>
  </div>

  <div class="px-1 py-2 border border-1 rounded container-search">
    <%= form_with url: chat_path(@chat.token),
                  method: :get,
                  data: { search_message_target: 'form' } do |form| %>
      <i class="fa-solid fa-magnifying-glass text-secondary fw-bold px-2"></i>
      <%= form.text_field :query,
                          value: params[:query],
                          placeholder: 'Busca un mensaje',
                          data: { search_message_target: "input", action: "keyup->search-message#filter" },
                          class: "border border-0 bg-transparent" %>
    <% end %>
  </div>

  <%= render 'chats/chat_list_item', chats: chats %>
</div>
