<div class="chatroom"
     data-controller="chat-subscription"
     data-chat-subscription-chat-id-value="<%= chat.id %>"
     data-chat-subscription-current-user-id-value="<%= current_user.id %>"
     data-chat-subscription-provider-id-value="<%= chat.provider.id %>">

  <div class="d-flex justify-content-between align-items-center py-3 px-4 mx-2 mt-2 container-title-chat">
    <%= render 'shared/user_info_chat', chat: chat %>
  </div>

  <div class="messages text-break" data-chat-subscription-target="messages">
    <p class="rounded-pill fw-semibold text-center">Tu pedido está en proceso, coordine con su proveedor para la aceptación</p>
    <% previous_sender = nil %>

    <% chat.messages.each_with_index do |message, index| %>
      <% show_user_avatar = message.sender_id == previous_sender ? false : true %>
      <% previous_sender = message.sender_id %>

      <% if show_date?(message, chat.messages, index) %>
        <div class="message-date-today d-flex align-items-center justify-content-center gap-4">
          <%= message.created_at.strftime('%A %e %B %Y') %>
        </div>
      <% end %>

      <div class="message-row d-flex <%= set_class_name_by_message_sender(message.sender, current_user, 'justify-content-end', 'justify-content-start') %>">
        <div class="<%= set_class_name_by_message_sender(message.sender, current_user, "d-none", "avatar") %>">
          <% if show_user_avatar %>
            <%= render User::AvatarComponent.new(current_user, classes: 'avatar-message') %>
          <% end %>
        </div>

        <div class="<%= set_class_name_by_message_sender(message.sender, current_user, 'sender-style', 'receiver-style') %>">
          <%= render 'messages/message', message: message %>
        </div>

        <div class="<%= set_class_name_by_message_sender(message.sender, current_user, "avatar", "d-none") %>">
          <% if show_user_avatar %>
            <%= render User::AvatarComponent.new(current_user, classes: 'avatar-message') %>
          <% end %>
        </div>
      </div>

      <div class="d-flex align-items-center <%= set_class_name_by_message_sender(message.sender, current_user, 'justify-content-end', 'justify-content-start') %>">
        <%= message.created_at.strftime("%H:%M") %>
      </div>
    <% end %>
  </div>

  <div class="form-new-message">
    <%= simple_form_for [service, chat, message],
        html: { data: { action: "turbo:submit-end->chat-subscription#resetForm" },
        class: "d-flex align-items-center justify-content-center gap-3",
        id: "new-chat-message"} do |f| %>

      <div class="d-flex align-items-center bg-white flex-grow-1">
        <%= f.input :content,
                    label: false,
                    placeholder: "Escribe un mensaje",
                    wrapper_html: { class: "d-flex align-items-center h-100 flex-grow-1" },
                    class: "mb-0" %>
        <%= f.button :button, id: "button-send-message", class: "h-100"  do %>
          <%= image_tag 'svg/chat/send_message_icon.svg', width: '24px' %>
        <% end %>
      </div>

      <%= link_to root_path, class: "d-flex align-items-center text-decoration-none new-quotation-button" do %>
        <i class="fa-solid fa-plus me-2 fw-bold fs-6"></i>
        <span class="fw-bold d-none d-md-block">Cotización</span>
      <% end %>
    <% end %>
  </div>
</div>
