<main class="container">
  <main class="row">
    <section class="col-3">
      <div data-controller="search-message">
        <h2 class="mb-4">Mensajes <span class="fs-4 bg-secondary fw-light rounded px-2 py-1" data-search-message-target="counter"><%= @chats.size %></span></h2>
        <div>
          <%= form_with url: service_chat_path(@service, @chat),
                        method: :get,
                        data: { search_message_target: 'form' } do |form| %>
            <i class="fa-solid fa-magnifying-glass"></i>
            <%= form.text_field :query,
                                value: params[:query],
                                placeholder: 'Busca un mensaje',
                                data: { search_message_target: "input", action: "keyup->search-message#filter" } %>
          <% end %>
        </div>

        <%= render 'chats/chats_list', chats: @chats %>
      </div>
    </section>

    <section class="col-6">
      <div class="chatroom"
            data-controller="chat-subscription"
            data-chat-subscription-chat-id-value="<%= @chat.id %>">

        <div class="d-flex justify-content-between">
          <div class="d-flex">
            <div class="d-flex">
              <%= cl_image_tag @chat.provider.avatar.key, class: "avatar", alt: "avatar" %>
              <div>
                <%= @chat.provider.business_name %>
                <div>Online</div>
              </div>
            </div>
            <span>Responde en 1 hora</span>
          </div>

          <div>
            <%= link_to root_path do |l| %>
              <span>Cotizaciones</span>
              <span>flecha</span>
            <% end %>
          </div>
        </div>

        <div class="messages" data-chat-subscription-target="messages">
          <% @chat.messages.each do |message| %>
            <%= render 'messages/message', message: message %>
          <% end %>
        </div>

        <%= simple_form_for [@service, @chat, @message],
            html: { data: { action: "turbo:submit-end->chat-subscription#resetForm" },
            class: "d-flex"} do |f| %>
          <%= f.input :content,
                      label: false,
                      placeholder: "Message ##{@chat.name}",
                      wrapper_html: { class: "flex-grow-1" }
          %>
          <%= f.submit "Send", class: "btn btn-primary mb-3" %>
        <% end %>
      </div>
    </section>

    <section class="col-3">
      <h2>Mis Cotizaciones</h2>
      <p>Cotizaciones formales</p>
    </section>
  </div>
</main>
