<div class="d-flex justify-content-center align-items-center h-100">
  <div class="shadow-sm devise-form">
    <h2><%= title t(:forgot_password, scope: [:devise, :titles]) %></h2>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mt-4" }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Enviar", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="mt-4 links-container">
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
