<!DOCTYPE html>
<html>
  <head>
    <title>ProjectDbs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render NavBar::BaseComponent.new(current_user, current_provider) %>
    <%= render partial: "shared/flashes" %>
    <div class="container h-100">
      <%= yield %>
    </div>
  </body>
</html>
